{% extends 'main.html' %} {% load static %} {% block content %}
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>CONNEXION</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item active">CONNEXION</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<div class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>Vous êtes nouveau</h4>
                        <p>Profitez des meilleurs produits de mer de qualité grâce à SEAFOOD</p>
                        <a class="btn btn-dark" href="{% url 'register' %}">Créer un compte</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Connectez - vous</h3>
                    <form class="row login_form" method="POST">
                        {%csrf_token%}
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="username" placeholder="Nom d'utilisateur" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="name" name="password" placeholder="Mot de passe" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn btn-dark w-100">Connexion</button>
                            <a href="{% url 'set_password' %}">Mot de passe oublié?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br> {%endblock content%}