{% extends 'main.html' %} {% load static %} {% block content %}
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>MODIFICATION DE MOT PASSE</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item active">MOT DE PASSE</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock content%}